* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Inter', sans-serif;
}

.heading-style {
    font-weight: 700;
    font-size: 35px;
}

.button-style {
    margin-top: 15px;
    padding: 16px 12px 16px 12px;
    background-color: #FF5959;
    color: #FFFFFF;
    border-radius: 5px;

}

/* ======================help section============ */
.help {
    width: 100%;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.438)), url(./images/c15c89adc7bdf6de47872b9b6aa3e7eb.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-innerDiv {
    width: 70%;
    color: #FFFFFF;
    text-align: center;

}

.help-innerDiv h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 79px;

}

.help-innerDiv p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/* =================donate section ========== */
.donate {
    width: 100%;
    height: 500px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.donate p {
    width: 70%;
    color: #707070;
    line-height: 28px;

}

.amount {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.amount button {
    color: #707070;
    /* background-color:  #FAFAFA; */
    padding: 20px 25px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
}

.highlight {
    /* display: block; */
    border: 1px solid #FF5959;
    background-color: #FFEEEE;
}

input[ type="text"] {
    padding: 10px;
    outline: none;
    text-align: center;
    border-bottom: 2px solid #DADADA;
    width: 70%;
}

/* ===============donate plan section======= */
.donate-plan {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.donate-tex-div {
    text-align: center;
    width: 70%;

}

.donate-tex-div h1 {
    margin: 15px;
}

.donate-tex-div p {
    margin: 15px;
}

.card-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.card-div div {
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
    border-radius: 5px;
}

.card-1 {
    background-color: rgba(79, 157, 166, 0.1);

}

.card-2 {
    background-color: rgba(255, 89, 89, 0.1);
}

.card-3 {
    background-color: #FFF4D6;
}

/* =================donate-video section ======= */
.donate-video {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.438));

}

.donate-video video {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;

}

/* =========depend section ========== */
.depend {
    width: 100%;
    height: 500px;
    margin-top: 25px;

}

.inner-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inner-div-text {
    width: 393px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.inner-div img {
    width: 356px;
    height: 377px;
    border-radius: 5px;
    border: 1px solid grey;

}

/* ==============need section========= */
.need {
    width: 100%;
    height: 500px;
    margin-top: 25px;
}
/* ==============update section============  */
.update{
    width: 100%;
    height: 500px;
   
}
.update-inner-div{
    width: 70%;
    height: 500px
}